# Aplicação básica com Flask
>>Versao do código 1.0.0 - 18/08/2021
>>>Autor:Alexandre Menezes Ferreira
---
##### User Guide
>##### [Flask](https://flask.palletsprojects.com/en/2.0.x/#user-s-guide)
>##### [Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide)

### Instalação do Flask
>pip install Flask

### Objetivo(Realizar consultas via 'PUT' no servidor
>##### Criar um DataFrame (Alunos,Notas,Status(Aprovado,Reprovado), index(1-5))
>##### Converter os dados em JSON
>##### Retornar Consulta do usuário através do índice informado

In [134]:
#Importar a biblioteca Flask com renderizador, request e json
from flask import Flask, render_template as rt, request 
import json

In [135]:
#Importar a biblioteca pandas para criar o DataFrame
import pandas as pd

In [136]:
#Construção do DataFrame
df = pd.DataFrame({'Alunos':['Alexandre Menezes','Joao da Silva','Mariana Davila','Sebastiana florencio','Daniela Lopes'],'Notas':[7.0,6.1,8.2,9.9,10.0],'Status':['Aprovado','Reprovado','Aprovado','Aprovado','Aprovado']}, index = [1,2,3,4,5])

In [137]:
# Amostra dos Dados
df

                 Alunos  Notas     Status
1     Alexandre Menezes    7.0   Aprovado
2         Joao da Silva    6.1  Reprovado
3        Mariana Davila    8.2   Aprovado
4  Sebastiana florencio    9.9   Aprovado
5         Daniela Lopes   10.0   Aprovado

##### Contruindo a Aplicação

In [141]:
app = Flask(__name__)
application = app
x = 0
# Página Inicial
@app.route('/')
def index():
    return '<h1>Página Inicial</h1>'


# Página de Retorno de dados por index
@app.route('/id', methods=['PUT','GET'])
def ids():
    response = request.data
    dados = df[['Alunos','Status']].iloc[int(response)-1].to_json() #Converte os dados do DataFrame para Json
    return dados
if __name__ == '__main__':
    app.run(debug = 0)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Aug/2021 17:56:52] "PUT /id/ HTTP/1.1" 404 -
127.0.0.1 - - [18/Aug/2021 17:56:58] "PUT /id HTTP/1.1" 200 -